import cgi, cgitb, time, datetime, sqlite3, iso8601, os

cgitb.enable(display=0, logdir="../tmp")

prefix = "./p/" # Directory for blog post files.
url = "" # Blog URL.
autoapproved = False # Turn off/on automatic comment approval.
authortoname = { 'name in postinfo' : 'NAME IN NOTICE' }
notice = open("notice.html").read() # Notice at the bottom of every post.
iscommentingopen = True # Allow/disallow commenting.
content_type_charset = "Content-type: text/html;charset=UTF-8" # Content type and charset.
banlist = ['127.0.0.1'] # List of IP address bans.
